<h1>My Profile</h1>
<p>
    <strong>Name: </strong> {{account.firstName}} {{account.lastName}}<br />
    <strong>age: </strong> {{account.region}}<br>
    <strong>gender: </strong> {{account.wereda}}<br>
    <strong>role: </strong> {{account.phone}}<br>
    <strong>Email: </strong> {{account.email}}<br>
    <strong>Phone: </strong> {{account.phone}}<br>
    <strong>citizenship: </strong> {{account.wereda}}<br>
     <strong>region: </strong> {{account.region}}<br>
    <strong>wereda: </strong> {{account.wereda}}<br>
    <strong>zone: </strong> {{account.phone}}<br>
    <strong>kebele: </strong> {{account.region}}<br>

   
</p>
<p><a routerLink="/edit-account">Update Profile</a></p>
