<div class="container-fluid">
  <app-pagetitle title="DIVORCE REGISTRATION" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- <h5 class="card-title">Registration Form</h5> -->
        <div class="card-body">
          <aw-wizard>
            <aw-wizard-step stepTitle="MARRIAGE INFORMATION">
             
              <!-- <div class="alert alert-success mb-4" role="alert">
                Enter  email address of created adccount so that the pesron it self can  reset password and instructions will be sent to him!
              </div> -->
             
          
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title mb-4">MARRIAGE</h4>
                      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                        <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                        <ngb-alert type="success" *ngIf="successmsg" [dismissible]="false">Marriage Id is found continue to register.
                          
                        </ngb-alert>
                        <div class="row">
                            <div class="col-md-6">                            
                             <div class="form-group mb-4">
                                 <label>Marriage ID</label>
                                 <input type="text" 
                                 formControlName="marriageId"
                                 class="form-control"
                                 placeholder="Enter the Marriage ID"  
                                 [ngClass]="{'is-invalid': onsubmit && type.marriageId.errors}"  />
                                 <div *ngIf="onSubmit && type.marriageId.errors" class="invalid-feedback">
                                   <span *ngIf="type.marriageId.errors.required"> Marriage Id needed to continue.</span>
                                 </div>
                             </div>                            
                            </div>
                            <!-- <div class="col-md-6">                            
                              <div class="form-group mb-4" *ngFor="let marriage of marriages" let i = index;>
                                  <label>Result</label>
                               <p>{{marriage.id}}</p>
                               <p>{{marriage.place}}</p>
                              </div>                            
                             </div> -->
                            
                         
                          
                        </div>
                        <button class="btn btn-primary float-right" type="submit">Submit</button>              
                    </form> 
                    
                       
                    </div>
                  </div>
                  <button  [disabled]="loading" awNextStep class="btn btn-success float-left" type="submit" >
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" ></span>
                    Next Step
                </button>
                </div>
          
              </div>

              
            </aw-wizard-step>  
           
            <aw-wizard-step stepTitle="DIVORCE INFORMATION" awOptionalStep>
   
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title mb-4">DIVORCE</h4>
                 
                      <form [formGroup]="createDivorceForm" (ngSubmit)="onPush()">
                          <div class="row">
                              
                            <div class="col-md-6">  
                              <div class="form-group mb-4"> 
                                <div class="form-group"> 
                                 <label>Region</label>
                                 <select class="form-control select2"  formControlName="region">
                                   <option value="Oromia">Oromia</option>
                                    <option value="Addis Ababa">Addis Ababa</option>
                                    <option value="Afar">Afar</option>    
                                    <option value="Amhara">Amhara</option>
                                    <option value="Benishangul-Gumuz">Benishangul-Gumuz</option>  
                                    <option value="Dire Dawa">Dire Dawa</option>
                                    <option value="Gambela">Gambela</option>  
                                    <option value="Harari">Harari</option>
                                    <option value="Sidama">Sidama</option>   
                                    <option value="Somali">Somali</option>   
                                    <option value="Southern Nations,Nationalities,and Peoples">Southern Nations,Nationalities,and Peoples</option>
                                    <option value="Tigray">Tigray</option>                   
                                 </select>
                                 </div>
                             </div>
             
                              <div class="form-group mb-4">
                                   <label>Reason</label>
                                   <input type="text" 
                                   formControlName="reason"
                                   class="form-control" 
                                   name="reason"
                                    id="reason" 
                                    placeholder="reason">
                               </div>
                               <div class="form-group mb-4">
                                  <label >Place</label>
                                  <input type="text" 
                                  formControlName="place"
                                  class="form-control"
                                   name="place" 
                                   id="place"
                                   placeholder="Place of Death" >
                              </div> 
                   
                     
                     
                               
                  
                          </div>
                          <div class="col-md-6">
                              <div class="form-group mb-4">
                                  <label>Divorce Date</label>
                                  <input type="text"
                                  formControlName="divorceDate"
                                   class="form-control"
                                    name="divorceDate" 
                                    id="divorceDate" 
                                    type="date" 
                                    value="2019-08-19"
                                    placeholder="Divorce Date" >
                              </div>
                              <div class="form-group mb-4">
                                <label>Divorce Info</label>
                                <input type="text" 
                                formControlName="divorceInfo"
                                class="form-control"
                                 name="divorceInfo"
                                  id="divorceInfo" 
                                  placeholder="Divorce Info" >
                            </div>
                            <div class="form-group mb-4">
                              <label>Religion</label>
                              <input type="text"
                              formControlName="religion"
                               class="form-control" 
                               name="religion" 
                               id="religion" 
                               placeholder="religion" >
                          </div>
                     
                           <!-- <div class="form-group mb-4">
                               <label>Male Partner</label>
                               <input type="text"
                               formControlName="malePartner"
                                class="form-control" 
                                name="malePartner" 
                                id="malePartner"
                                 placeholder="malePartner" >
                           </div>
                           <div class="form-group mb-4">
                               <label>Female Partner </label>
                               <input type="text" 
                               formControlName="femalePartner"
                               class="form-control"
                                name="femalePartner"
                                 id="femalePartner"
                                  placeholder="female Partner" >
                           </div> -->
                           <!-- <div class="form-group mb-4">
                            <label>Registration Date </label>
                            <input type="text" 
                            formControlName="registrationDate"
                            class="form-control"
                             name="registrationDate"
                              id="registrationDate"
                               placeholder="Registration Date" >
                        </div> -->
                           
                          
                          </div>
                        
                      </div>
                          <button class="btn btn-primary float-right" type="submit">Submit</button>              
                      </form>     
                    </div>
                  </div>
                </div>
              </div>
              <button [disabled]="loading" awPreviousStep class="btn btn-success float-left" type="submit" >
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" ></span>
                Back Step
            </button>
          
           <!-- <button type="button"  awPreviousStep  class="btn btn-primary">Back</button> -->
            </aw-wizard-step>      
          </aw-wizard>
        </div>
      </div>
    </div>
  
  </div>
  <!-- end row -->
</div>

