<!-- <canvas #canvas></canvas> -->
<div class="container">
    <div class="top wrapper">
        <div class="id-numbers">
            <label for="br-form-number">Birth Registration Form Number<input type="text"></label> <br>
            <label for="br-id-number">Birth Registration Unique Id Number <input type="text"></label>
        </div>
        <div class="banner-and-header">
            <div class="banner">
                <img src="src/assets/images/flags/Flag_of_Ethiopia.jpg" alt="" width="200px" height="130px">
            </div>
            <div class="header">
                <h1>FDRE Civil Registration and Vital Statistics</h1>
                <h2>Birth Certificate</h2>
            </div>
        </div>
        <div class="bottom wrapper">
            <div class="full-name space-between">
                <label for="name">Name <input type="text"></label>
                <label for="fname">Father's Name <input type="text"></label>
                <label for="gfname">Grand Father's Name <input type="text"></label>
            </div>
            <div class="gender-and-birthdate flex-start">
                <label for="gender">Gender <input type="text"> </label>
                <label for="birthdate">Date of Birth <input type="date"></label>
            </div>
            <div class="birthplace space-between">
                <label for="birthplace">Place/Country of Birth <input type="country"></label>
                <label for="region/city">Region/City Administration <input type="text"></label>
                <label for="zone/city">Zone/City Administration <input type="text"></label>
            </div>
            <div class="woreda-and-nationality flex-start">
                <label for="woreda">Woreda <input type="text"></label>
                <label for="nationality">Nationality <input type="text"></label>
            </div>
            <div class="parent-info space-between">
                <label for="mother-fullname">Mother's Full Name <input type="text"></label>
                <label for="mother-nationality">Mother's Nationality <input type="text"></label>
                <label for="father-fullname">Father's Full Name <input type="text"></label>
                <label for="father-nationality">Father's Nationality <input type="text"></label>
            </div>
            <div class="date">
                <label for="registration-date">Date of Birth Registration: Month <input type="text"> Date <input type="text"> Year <input type="text"></label>
                <label for="certificate-issue-date">Date of Certificate Issued: Month <input type="text"> Date <input type="text"> Year <input type="text"></label>
            </div>
            <div class="registrar-officer-fullname full-name space-between">
                <label for="officer-name">Name of Civil Registrar <input type="text"></label>
                <label for="officer-fname">Father's Name <input type="text"></label>
                <label for="officer-gfname">Grand Father's Name <input type="text"></label>
            </div>
            <div class="signature-and-seal space-between">
                <label for="signature">Signature <input type="text"></label>
                <label for="seal">Seal <input type="text"></label>
            </div>
        </div>
    </div>
</div>