<div class="container">
    <div class="top wrapper">
        <div class="id-numbers">
            <div class="left">
                <label for="divorce-reg-form-number" class="first-label">Divorce Register Form Number <input type="text"></label>
                <label for="divorce-reg-id" class="first-label">Divorce Registration Unique Id number <input type="text"></label>
            </div>
            <div class="right">
                <label for="br-form-number">Divorcée Birth Registration Unique Id Number <input type="text"></label>
                <label for="br-id-number">Divorcé Birth Registration Unique Id Number <input type="text"></label>
            </div>    
        </div>
            <div class="banner-and-header">
                <div class="banner">
                    <img [src]="image_src" alt="" width="200px" height="100px">
                </div>
                <div class="header">
                    <h1>FDRE Civil Registration and Vital Statistics</h1>
                    <h2>Divorce Certificate</h2>
                </div>
            </div>
        </div>
        <div class="bottom wrapper">
            <div class="wife-and-husband grid">
                <div class="wife item">
                    <div class="full-name flex-start">
                        <label for="name">Divorcée Name <input type="text"></label>
                        <label for="fname">Father's Name <input type="text"></label>
                        <label for="gfname">Grandfather's Name <input type="text"></label>
                    </div>
                    <div class="gender-and-birthdate flex-start">
                        <label for="birthdate">Date of Birth <input type="text"></label>
                        <label for="birthplace">Place/Country of Birth <input type="text"></label>
                        <label for="region">Region/City Administration <input type="text"></label>
                        <label for="zone">Zone/City Administration <input type="text"></label>
                        <label for="nationality">Nationality <input type="text"></label>
                    </div>

                </div>

                <div class="husband item">
                    <div class="full-name flex-start">
                        <label for="name">Divorcé Name <input type="text"></label>
                        <label for="fname">Father's Name <input type="text"></label>
                        <label for="gfname">Grandfather's Name <input type="text"></label>
                    </div>
                    <div class="gender-and-birthdate flex-start">
                        <label for="birthdate">Date of Birth <input type="text"></label>
                        <label for="birthplace">Place/Country of Birth <input type="text"></label>
                        <label for="region">Region/City Administration <input type="text"></label>
                        <label for="zone">Zone/City Administration <input type="text"></label>
                        <label for="nationality">Nationality <input type="text"></label>
                    </div>
                </div>
            </div>
            <div class="date flex-start">
                <label for="divorce-date">Date of Divorce <input type="text"></label>
                <label for="divorce-place">Place of Divorce Dissolved <input type="text"></label>
            </div>
            <div class="date flex-start">
                <label for="registration-date"> Date of the Divorce Registration <input type="text"></label>
                <label for="certificate-issue-date">Date of Certificate Issued <input type="text"></label>
            </div>
            <div class="registrar-officer-fullname full-name space-between">
                <label for="officer-name">Name of Civil Registrar <input type="text"></label>
                <label for="officer-fname">Father's Name <input type="text"></label>
                <label for="officer-gfname">Grand Father's Name <input type="text"></label>
            </div>
            <div class="signature-and-seal space-between">
                <label for="signature">Signature <input type="text"></label>
                <label for="seal">Seal <input type="text"></label>
            </div>
        </div>



